<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This is my first form</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  <h1>Hello</h1>
  <form action="/username" method="post">
    <input type="text" name="username">
    <input type="submit" value="Send">

​
  </form>
​
  </body>
</html>