<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
Please insert the word you wanna look for
 <form action="/results" method="post">
    <input type="search" placeholder="Please add your search" name="string_to_search"> 
    <button type="submit" value="add" name="calculate">Send</button>
 </form>

</body>
</html>