body {
	font: Helvetica;
}
.logo {
	font-size: 32px;
	color: black !important;
	font-weight: bold;
}
.navbar.navbar-inverse {
	height: 93px;
	padding-top: 25px;
	background-color: white;
	border:none !important;
	
	
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
	margin-left:270px;
	}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	color:red;
	background-color: white;
	
}
.carousel-control {
	background-color: red;
	margin:16% 0;
	width:75px
}
.under-slider {
	background-color: salmon;
	text-align: center;
}
.big-icons-home {
	font-size: 20px;
	color:white;
	border:5px solid;
	border-radius: 50%;
	display:block;
	text-align: center;
	height: 60px;
	width:60px;
	margin-top:45px;
	vertical-align: middle;
	line-height: 50px;
	margin-left: auto;
	margin-right: auto;
	
}
.titler, .subtitler {
	color: white !important;
}




