<!-- views/add.erb -->
<!doctype html>
<html>
<head>
  <title>Add | Online Calculator</title>
</head>
<body>
  <h1>Add</h1>
  <form action="/calculate_add" method="post">
    <input type="number" placeholder="First value" name="first_number"> 
    <input type="number" placeholder="Second value" name="second_number">
    <button type="submit" value="calculate">Calculate</button>
  </form>
</body>
</html>