<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This is my first Sinatra file</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  <h1>Hello <%= @username %></h1>
 
<img id="logo" src="/pixies.png"/>
​
  </body>
</html>

